<!DOCTYPE html>
<html lang="en">
   <%- include('./content/header.html')  %> 
   <style>
    
    p{
        margin-left: 5%;
        color: white;
        display: flex;
        font-size: 18px;
    }
    h2{
        text-align: center;
        color: rgb(39, 233, 39);
    }
    span{
        font-weight: bold;
        font-size: 20px;
        margin-right: 2%;
        color: rgb(153, 46, 246);
    }
    .list{
        margin: 1% 6%;
        background-color: rgb(49, 54, 54);
        color: rgb(53, 51, 51);
        border: 1px solid blueviolet;
    }
</style>
<body>
    <%- include('./content/nav.html') %> 

    <h2>
        All posts
    </h2>
    <div class="notifications">
    <% notifications.map((notification) => { %>
        <div class="list">
        <p><span>Company:</span> <%= notification.company %> </p>
        <p><span>Location:</span> <%= notification.location %> </p>
        <p><span>Requirements:</span> <%= notification.requirements %> </p>
        <p><span>Initial Date:</span> <%= notification.initial%> </p>
        <p><span>Final Date:</span> <%= notification.final %> </p>
        </div>
        <%  }) %> 
    </div>

    <%- include('./content/footer.html')  %> 
</body>
</html>