<!DOCTYPE html>
<html lang="en">
    <style>
        .container{
            margin: 5% 10%;
            padding: 3% 3%;
            background-color: rgb(60, 52, 52);
        }
        h1{
            text-align: center;
            margin-top: 5%;
            color: white;
            font-family: Georgia, 'Times New Roman', Times, serif;        
        }
        .div{
            margin-left: 5%;
            margin-right: 5%;
            background-color: rgb(63, 60, 56);
            padding-left: 3%;
            display: flex;
        }
        h3{
            color: rgb(137, 180, 64);
        }
        p{
            margin-left: 2%;
            color: white
        }


    </style>
    <%- include('./content/header.html')  %> 
<body>

    <%- include('./content/nav.html') %> 
    
    <%- include('./content/form.html') %> 

    <div class="container">
        <h1>previously commented</h1>

    <% let count = 0; feedbacks.forEach((feedback) => {
        if(count < 10){
        %>

        <div class="div">
            <h3><%= feedback.email %></h3>
            <p><%= feedback.body %></p> 
         </div>
    <%
        }
        count++;
   })%>
     
    </div>

    <%- include('./content/footer.html')  %> 

</body>
</html>